<!--
<div class="clearfix"></div>
<div class="content">
    <div id="container">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<div class="post-preview">
    <a href="post.html">
        <img style="float: left;" src="img/profiles/avatar.jpg" />
        <h2 class="post-title">
            Alternaria leaf spot
        </h2>
        <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
        </h3>

        <img style="float: right; width: 69px; height: 69px;" src="img/test.jpg">
    </a>
    <p class="post-meta">Posted by John Smith on September 24, 2014 - disease started on September 24, 2014</p>

</div>
    </div>
        </div>
    </div>
    -->


    <div class="clearfix"></div>
    <div class="content">
        <div id="container">
            <div class="row row-centered">
                <div class="col-xs-2 col-centered"; style="width: inherit"><img style="float: right"; src="img/profiles/avatar.jpg">
                </div>

                <div class="col-xs-6 col-centered">
                    <div class="post-preview">
                        <a href="post.html">

                            <h2 class="post-title">
                                Alternaria leaf spot
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Posted by John Smith on September 24, 2014 - disease started on September 24, 2014</p>

                    </div>
                </div>

                <div class="col-xs-3 col-centered"><img style="float: left; width: 154px; height: 124px;" src="img/test.jpg">
                </div>




            </div>
        </div>
    </div>
    

