
    <div class="grid simple">
      <div class="grid-title no-border">
        <h4>Add <span class="semi-bold">New Infection</span></h4>
      </div>
      <div class="grid-body no-border"> <br>
       <form class="simple-form" >
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
          <h4>Select the affected area </h4>
          <div id="affected-map"></div>

          </div>

        </div>

        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
           <label class="form-label">Select type</label>
              <span class="help">e.g. "Pest"</span>
              <select id="source" style="width:100%" ng-model="diseaseTypeSelected">
               
                  <option value="Pest">Pest</option>
                  <option value="Disease">Disease</option>
              
              </select>
            
          
           <hr />
              <label class="form-label">Infection name</label>
              <span class="help">e.g. "Bacterial blight"</span>
              <select id="source" style="width:100%" ng-model="diseaseSelected" name="diseaseSelected" ng-options="disease.name as disease.name for disease in diseases ">
             
              </select>
              
          <hr />
             
            <label class="form-label">Area Affected %</label>
             <input type="number" min="0" max="100" name="affected_area" class="form-control"  ng-model="affected_area">
          <!--   <input type="text" name="affected_area" class="form-control"  ng-model="affected_area"/> -->
              <hr />
              <label class="form-label">Date when pest/disease started</label>
              <span class="help">e.g. "01/01/2015"</span>
              <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
              <div class="row">
                <div class="col-md-6">
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <hr />
          
              <label class="form-label">Upload image</label>
              <div>
            <input type="file" fileread="uploadme" ng-model="photname" />
             <!--  <input type="file" name="photo_name" ng-model="photo_name"/> -->
             <!--  <div flow-init="{target: '/upload'}"
              flow-files-submitted="$flow.upload()"
              flow-file-success="$file.msg = $message">

              <input type="file" flow-btn/>
              Input OR Other element as upload button
              <span class="btn" flow-btn>Upload File</span>

              <table>
                <tr ng-repeat="file in $flow.files">
                  <td>{{$index+1}}</td>
                  <td>{{file.name}}</td>
                  <td>{{file.msg}}</td>
                </tr>
              </table> -->
            </div>
        
          <hr />
          
            <label class="form-label">More info</label>
            <div class="controls">
              <wysiwyg textarea-id="question" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="description" enable-bootstrap-title="true" ></wysiwyg>
            </div><br>
           <button type="submit"  ng-click="save()" name="submit" class="btn btn-primary pull-right">Save</button>
         
        </div>
      </div>
    </form>
    </div>
  </div>
