    <div class="clearfix"></div>
    <div class="content">
        <button class="btn btn-default pull-right" ui-sref="postNew">Add Post</button>
        <div id="container"> 
          
            <div class="row row-centered post" ng-repeat="(key, post) in posts">
           
                <div class="col-xs-2 col-centered"; style="width: inherit"><img style="float: right;  margin-bottom: 10px;"; src="img/profiles/avatar.jpg">
                <br><br><br><button class="btn btn-default" style="width:100%;height:30px;  padding: 0;" ng-show="post.userid == post.currentUserId" ng-href="#/posts/{{post.id}}/edit" href="">Edit</button>
                </div>
                <div class="col-xs-6 col-centered" >
                    <div class="post-preview">
                        <a href="post.html?id={{post.id}}">
                            <h2 class="post-title">
                               Pest Disease:  {{post.pest_disease}}
                            </h2>
                            <h3 class="post-subtitle">
                               Disease Type: {{post.disease_type}}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by John Smith on {{post.date}}</p>
                        <p class="post-meta"></p>
                    </div>
                </div>

                <div class="col-xs-3 col-centered"><img style="float: left; width: 100%;" src="{{post.image}}">
                </div>
                  
            </div>
<hr>
        </div>
    </div>
    

