<div class="clearfix"></div>
<div class="content">
    <div id="container">
    	<div class="mapControlls">
    		<select class="form-control"  ng-model="disease" ng-change="changeDisease(disease);">
    			<option value="1">Diseases of Alfalfa</option>
    			<option value="2">Diseases of Almond</option>
    			<option value="3">Diseases of Apple</option>
    			<option value="4">Diseases of Cacao</option>
    		</select>
    	</div>
     		 <div id="map-canvas"></div>
        </div>
    </div>
